<div id="hp" class="container">
    <h1>Welcome</h1> 
    <h1>Social media app</h1> <br>

    {{#if user}}
    <p>You are logged in...</p>
    {{else}}
    <h1>
        <a href="/auth/google" class="btn-social btn-gplus btn-lg" style="text-decoration: none">
        <i class="fa fa-google-plus"></i>
        Signup with Google
        </a>
    </h1>  <br>

    <h1>
        <a href="/auth/facebook" class="btn-social btn-facebook btn-lg" style="text-decoration: none;">
        <i class="fa fa-facebook"></i>
        Signup with Facebook
        </a>
    </h1> <br>

     <h1>
        <a href="/auth/instagram" class="btn-social btn-instagram btn-lg" style="text-decoration: none;">
        <i class="fa fa-instagram"></i>
        Signup with Instagram
        </a>
    </h1>
    {{/if}}

</div>

